*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: sans serif;
}
.container{
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: center;

    & .card{
        background: #222;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        display: flex;
    }


}